{{#DocLines}}
/// {{{.}}}
{{/DocLines}}
#[derive(Clone, Debug, Default, Deserialize, Serialize)]
pub struct {{Name}}(String);

/// Useful constants to work with [{{Name}}]({{Name}})
pub mod {{NameSnakeCase}} {
    {{#Values}}

    {{#DocLines}}
    /// {{{.}}}
    {{/DocLines}}
    pub const {{Name}}: &str = "{{Name}}";
    {{/Values}}
}
