{{^IsMap}}

{{#DocLines}}
/// {{{.}}}
{{/DocLines}}
#[derive(Clone, Debug, Default, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
#[non_exhaustive]
pub struct {{Name}} {
    {{#BasicFields}}

    {{#DocLines}}
    /// {{{.}}}
    {{/DocLines}}
    pub {{NameToSnake}}: {{{FieldType}}},
    {{/BasicFields}}
    {{#ExplicitOneOfs}}

    {{#DocLines}}
    /// {{{.}}}
    {{/DocLines}}
    pub {{NameToSnake}}: Option<{{{FieldType}}}>,
    {{/ExplicitOneOfs}}
}
{{#HasNestedTypes}}

/// Defines additional types related to {{Name}}
pub mod {{NameSnakeCase}} {
{{/HasNestedTypes}}
    {{#NestedMessages}}
    {{> model}}
    {{/NestedMessages}}
    {{#Enums}}
    {{> enum}}
    {{/Enums}}
    {{#ExplicitOneOfs}}
    {{> oneof}}
    {{/ExplicitOneOfs}}
{{#HasNestedTypes}}
}
{{/HasNestedTypes}}
{{/IsMap}}
