# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Rust places its build artifacts in target/ directories.
/target/

# We use a few Python tools for development [^1]. Reserve `.env/` to install
# these tools in a local Python virtual environment.
/.venv/

.vscode
.idea/

# Ignore terraform files.
.terraform/
terraform.tfstate

# Ignore code coverage output files.
cobertura.xml
coverage.out

# Ignore cargo-mutants directories.
mutants.out/
mutants.out.old/

# The rustdocfx tool generates many files in this directory.
/docfx/

# Allow local customization for development.
/.cargo/config.toml

# tmp to compare
.sidekick.toml