# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[general]
language             = 'rust'
specification-format = 'protobuf'

[source]
extra-protos-extracted-name = 'gapic-showcase-0.35.5'
extra-protos-root           = 'https://github.com/googleapis/gapic-showcase/archive/refs/tags/v0.35.5.tar.gz'
extra-protos-sha256         = 'fd3c1b33080a75987433db924a576d576fa622aff4f14eee86b1dc959e7aef63'
googleapis-root             = 'https://github.com/googleapis/googleapis/archive/df58085901d8fb80c2c021e405923bb2351a6f29.tar.gz'
googleapis-sha256           = 'e201621d15b2605e6a5a373bbf908b5d043a349dedd4122107d514f10fb1db8a'
protobuf-extracted-name     = 'protobuf-29.3'
protobuf-root               = 'https://github.com/protocolbuffers/protobuf/releases/download/v29.3/protobuf-29.3.tar.gz'
protobuf-sha256             = '008a11cc56f9b96679b4c285fd05f46d317d685be3ab524b2a310be0fbad987e'
protobuf-subdir             = "src"

[codec]
# The default version for all crates. This can be overridden in the crate's
# `.sidekick.toml` file.
version = "0.2.0"
# The default release level for all crates.
release-level = "preview"
# Disable a number of warnings.
# TODO(#1285) - remove `redundant_explicit_links` workaround when no longer needed
# TODO(#742) - remove `broken_intro_doc_links` workaround when no longer needed
disabled-rustdoc-warnings = "redundant_explicit_links,broken_intra_doc_links"
# These are external (not part of `google-cloud-rust`) crates used by (nearly
# all) generated crates. 
'package:bytes'      = 'force-used=true,package=bytes,version=1,feature=serde'
'package:serde'      = 'force-used=true,package=serde,version=1,feature=serde_derive'
'package:serde_with' = 'force-used=true,package=serde_with,version=3,default-features=false,feature=base64,feature=macros,feature=std'
# These are used by crates with services.
'package:async-trait' = 'used-if=services,package=async-trait,version=0.1'
'package:gax'         = 'used-if=services,package=google-cloud-gax,path=src/gax,feature=unstable-sdk-client,version=0.20'
'package:lazy_static' = 'used-if=services,package=lazy_static,version=1'
'package:reqwest'     = 'used-if=services,package=reqwest,version=0.12,feature=json'
'package:serde_json'  = 'used-if=services,package=serde_json,version=1'
'package:tracing'     = 'used-if=services,package=tracing,version=0.1'
# Only used if LROs are present
'package:lro' = 'used-if=lro,package=google-cloud-lro,path=src/lro,version=0.1'
# I (coryan@) got lazy, it is tedious to auto-detect if this is used in `sidekick`.
# OTOH, the only case where this is not used is a crate without any messages, i.e., just enums.
'package:wkt' = 'force-used=true,package=google-cloud-wkt,path=src/wkt,source=google.protobuf,version=0.2'
# These are crates in `google-cloud-rust`. If not used, `sidekick` prunes them
# from the list of dependencies.
'package:api'          = 'package=google-cloud-api,source=google.api,path=src/generated/api/types,version=0.2'
'package:cloud_common' = 'package=google-cloud-common,source=google.cloud.common,path=src/generated/cloud/common,version=0.2'
'package:gtype'        = 'package=google-cloud-type,source=google.type,path=src/generated/type,version=0.2'
'package:grafeas'      = 'package=google-cloud-grafeas-v1,source=grafeas.v1,path=src/generated/grafeas/v1,version=0.2'
'package:iam_v1'       = 'package=google-cloud-iam-v1,source=google.iam.v1,path=src/generated/iam/v1,version=0.2'
'package:location'     = 'package=google-cloud-location,source=google.cloud.location,path=src/generated/cloud/location,version=0.2'
'package:logging_type' = 'package=google-cloud-logging-type,source=google.logging.type,path=src/generated/logging/type,version=0.2'
'package:longrunning'  = 'package=google-cloud-longrunning,source=google.longrunning,path=src/generated/longrunning,version=0.22'
'package:rpc'          = 'package=google-cloud-rpc,source=google.rpc,path=src/generated/rpc/types,version=0.2'
'package:rpc_context'  = 'package=google-cloud-rpc-context,source=google.rpc.context,path=src/generated/rpc/context,version=0.2'
