# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[general]
language = 'rust'
specification-format = 'protobuf'
ignored-directories = [
  # This is where Rust puts all the binaries.
  "target",
]

[source]
# By default, only search in the `googleapis-root` directory.
roots = 'googleapis'
# This is the commit SHA for v0.36.2.
showcase-extracted-name  = 'gapic-showcase-69bdd62035d793f3d23a0c960dee547023c1c5ac'
showcase-root            = 'https://github.com/googleapis/gapic-showcase/archive/69bdd62035d793f3d23a0c960dee547023c1c5ac.tar.gz'
showcase-sha256          = '96491310ba1b5c0c71738d3d80327a95196c1b6ac16f033e3fa440870efbbf5c'
googleapis-root          = 'https://github.com/googleapis/googleapis/archive/b607ece2e97f19a8f105a6cd40368da68e7bc613.tar.gz'
googleapis-sha256        = '24195ff2ca9cae989d09fe0765cb7e2b19986fd636beb4c1741e56d752998d89'
discovery-extracted-name = 'discovery-artifact-manager-f85002671045f2d315ffcc140a8dc5ea8eb35769'
discovery-root           = 'https://github.com/googleapis/discovery-artifact-manager/archive/f85002671045f2d315ffcc140a8dc5ea8eb35769.tar.gz'
discovery-sha256         = '5032016f41ba2d3f42536008fd9d67cd3ff4604f28822b2dab457e94cde16b98'
# This is the commit SHA for v29.3.
# We prefer using the SHA because it will make the migration to the librarian configuration much easier.
protobuf-src-extracted-name = 'protobuf-b407e8416e3893036aee5af9a12bd9b6a0e2b2e6'
protobuf-src-root           = 'https://github.com/protocolbuffers/protobuf/archive/b407e8416e3893036aee5af9a12bd9b6a0e2b2e6.tar.gz'
protobuf-src-sha256         = '55912546338433f465a552e9ef09930c63b9eb697053937416890cff83a8622d'
protobuf-src-subdir         = 'src'
# This is the commit SHA for v29.3.
conformance-extracted-name = 'protobuf-b407e8416e3893036aee5af9a12bd9b6a0e2b2e6'
conformance-root           = 'https://github.com/protocolbuffers/protobuf/archive/b407e8416e3893036aee5af9a12bd9b6a0e2b2e6.tar.gz'
conformance-sha256         = '55912546338433f465a552e9ef09930c63b9eb697053937416890cff83a8622d'

[codec]
# The default version for all crates. This can be overridden in the crate's
# `.sidekick.toml` file.
version = "1.0.0"
# The default release level for all crates.
release-level = "stable"
# Setter sample generation is enabled by default
generate-setter-samples = 'true'
# Disable a number of warnings.
# TODO(#1285) - remove `redundant_explicit_links` workaround when no longer needed
# TODO(#742) - remove `broken_intro_doc_links` workaround when no longer needed
disabled-rustdoc-warnings = "redundant_explicit_links,broken_intra_doc_links"
# These are external (not part of `google-cloud-rust`) crates used by (nearly
# all) generated crates. 
'package:bytes'      = 'force-used=true,package=bytes'
'package:serde'      = 'force-used=true,package=serde'
'package:serde_json' = 'force-used=true,package=serde_json'
'package:serde_with' = 'force-used=true,package=serde_with'
# These are used by crates with services.
'package:async-trait' = 'used-if=services,package=async-trait'
'package:gax'         = 'used-if=services,package=google-cloud-gax'
'package:gaxi'        = 'used-if=services,package=google-cloud-gax-internal,feature=_internal-http-client'
'package:lazy_static' = 'used-if=services,package=lazy_static'
'package:reqwest'     = 'used-if=services,package=reqwest'
'package:tracing'     = 'used-if=services,package=tracing'
# Only used if LROs are present
'package:lro' = 'used-if=lro,package=google-cloud-lro'
# Only used if a service has auto-populated fields
'package:uuid' = 'used-if=autopopulated,package=uuid'
# I (coryan@) got lazy, it is tedious to auto-detect if this is used in `sidekick`.
# OTOH, the only case where this is not used is a crate without any messages, i.e., just enums.
'package:wkt' = 'force-used=true,package=google-cloud-wkt,source=google.protobuf'
# These are crates in `google-cloud-rust`. If not used, `sidekick` prunes them
# from the list of dependencies.
'package:api'          = 'package=google-cloud-api,source=google.api'
'package:cloud_common' = 'package=google-cloud-common,source=google.cloud.common'
'package:gtype'        = 'package=google-cloud-type,source=google.type'
'package:grafeas'      = 'package=google-cloud-grafeas-v1,source=grafeas.v1'
'package:iam_v1'       = 'package=google-cloud-iam-v1,source=google.iam.v1'
'package:location'     = 'package=google-cloud-location,source=google.cloud.location'
'package:logging_type' = 'package=google-cloud-logging-type,source=google.logging.type'
'package:longrunning'  = 'package=google-cloud-longrunning,source=google.longrunning'
'package:rpc'          = 'package=google-cloud-rpc,source=google.rpc'
'package:rpc_context'  = 'package=google-cloud-rpc-context,source=google.rpc.context'

[release]
remote          = 'upstream'
branch          = 'main'
ignored-changes = ['.repo-metadata.json', '.sidekick.toml']

[[release.tools.cargo]]
name    = 'cargo-semver-checks'
version = '0.44.0'

[[release.tools.cargo]]
name    = 'cargo-workspaces'
version = '0.4.0'

[release.pre-installed]
cargo = 'cargo'
git   = 'git'
