# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[workspace]
resolver = "2"

members = [
  "src/auth",
  "src/auth/integration-tests",
  "src/base",
  "src/gax",
  "src/generated/api",
  "src/generated/bigtable/admin/v2",
  "src/generated/cloud/common",
  "src/generated/cloud/functions/v2",
  "src/generated/cloud/kms/v1",
  "src/generated/cloud/language/v2",
  "src/generated/cloud/location",
  "src/generated/cloud/resourcemanager/v3",
  "src/generated/cloud/run/v2",
  "src/generated/cloud/scheduler/v1",
  "src/generated/cloud/secretmanager/v1",
  "src/generated/cloud/tasks/v2",
  "src/generated/cloud/translate/v3",
  "src/generated/cloud/vpcaccess/v1",
  "src/generated/cloud/webrisk/v1",
  "src/generated/cloud/workflows/v1",
  "src/generated/container/v1",
  "src/generated/devtools/cloudbuild/v1",
  "src/generated/devtools/cloudbuild/v2",
  "src/generated/devtools/cloudtrace/v2",
  "src/generated/iam/admin/v1",
  "src/generated/iam/credentials/v1",
  "src/generated/iam/v1",
  "src/generated/iam/v2",
  "src/generated/longrunning",
  "src/generated/monitoring/dashboard/v1",
  "src/generated/monitoring/metricsscope/v1",
  "src/generated/openapi-validation",
  "src/generated/rpc",
  "src/generated/spanner/admin/database/v1",
  "src/generated/spanner/admin/instance/v1",
  "src/generated/type",
  "src/integration-tests",
  "src/lro",
  "src/root",
  "src/wkt",
  "tools/check-copyright",
]

[workspace.package]
edition     = "2021"
authors     = ["Google LLC"]
description = "Google Cloud Client Libraries for Rust"
license     = "Apache-2.0"
repository  = "https://github.com/googleapis/google-cloud-rust/tree/main"
keywords    = ["gcp", "google-cloud", "google-cloud-rust", "sdk"]
categories  = ["network-programming"]
