{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{CopyrightYear}} Google LLC
{{#BoilerPlate}}
//{{{.}}}
{{/BoilerPlate}}

/// The messages and enums that are part of this client library.
pub mod model;

{{#HasServices}}
use gax::error::{Error, HttpError};
use google_cloud_auth::{Credential, CredentialConfig};
use std::sync::Arc;

pub mod client;

const DEFAULT_HOST: &str = "https://{{DefaultHost}}/";

/// A `Result` alias where the `Err` case is an [Error].
pub type Result<T> = std::result::Result<T, Error>;

struct InnerClient {
    http_client: reqwest::Client,
    cred: Credential,
    endpoint: String,
}

#[derive(Default)]
pub struct ConfigBuilder {
    pub(crate) endpoint: Option<String>,
    pub(crate) client: Option<reqwest::Client>,
    pub(crate) cred: Option<Credential>,
}

impl ConfigBuilder {
    /// Returns a default [ConfigBuilder].
    pub fn new() -> Self {
        Self::default()
    }

    /// Sets an endpoint that overrides the default endpoint for a service.
    pub fn set_endpoint<T: Into<String>>(mut self, v: T) -> Self {
        self.endpoint = Some(v.into());
        self
    }

    pub(crate) fn default_client() -> reqwest::Client {
        reqwest::Client::builder().build().unwrap()
    }

    pub(crate) async fn default_credential() -> Result<Credential> {
        let cc = CredentialConfig::builder()
            .scopes(vec![
                "https://www.googleapis.com/auth/cloud-platform".to_string()
            ])
            .build()
            .map_err(Error::authentication)?;
        Credential::find_default(cc)
            .await
            .map_err(Error::authentication)
    }
}

#[derive(serde::Serialize)]
#[allow(dead_code)]
struct NoBody {}
{{/HasServices}}

{{#Services}}

{{#DocLines}}
{{{.}}}
{{/DocLines}}
#[derive(Clone)]
pub struct {{NameToPascal}}Client {
    inner: Arc<InnerClient>,
}

impl {{NameToPascal}}Client {
    pub async fn new() -> Result<Self> {
        Self::new_with_config(ConfigBuilder::new()).await
    }

    pub async fn new_with_config(conf: ConfigBuilder) -> Result<Self> {
        let inner = InnerClient {
            http_client: conf.client.unwrap_or(ConfigBuilder::default_client()),
            cred: conf
                .cred
                .unwrap_or(ConfigBuilder::default_credential().await?),
            endpoint: conf.endpoint.unwrap_or(DEFAULT_HOST.to_string()),
        };
        Ok(Self {
            inner: Arc::new(inner),
        })
    }
    {{#Methods}}

    {{#DocLines}}
    {{{.}}}
    {{/DocLines}}
    pub async fn {{NameToSnake}}(&self, req: {{InputTypeName}}) -> Result<{{OutputTypeName}}> {
        let inner_client = self.inner.clone();
        let builder = inner_client.http_client
            .{{HTTPMethodToLower}}(format!(
               "{}{{HTTPPathFmt}}",
               inner_client.endpoint,
               {{#HTTPPathArgs}}
               {{{.}}},
               {{/HTTPPathArgs}}
            ))
            .query(&[("alt", "json")]);
        {{#QueryParams}}
        let builder = gax::query_parameter::add(builder, "{{JSONName}}", {{{AsQueryParameter}}}).map_err(Error::other)?;
        {{/QueryParams}}
        self.execute(builder, {{#HasBody}}Some(req{{BodyAccessor}}){{/HasBody}}{{^HasBody}}None::<NoBody>{{/HasBody}}).await
    }
    {{/Methods}}

    async fn execute<I: serde::ser::Serialize, O: serde::de::DeserializeOwned>(
        &self,
        mut builder: reqwest::RequestBuilder,
        body: Option<I>,
    ) -> Result<O> {
        let inner_client = self.inner.clone();
        builder = builder.bearer_auth(
            &inner_client
                .cred
                .access_token()
                .await
                .map_err(Error::authentication)?
                .value,
        );
        if let Some(body) = body {
            builder = builder.json(&body);
        }
        let resp = builder.send().await.map_err(Error::io)?;
        if !resp.status().is_success() {
            let status = resp.status().as_u16();
            let headers = gax::error::convert_headers(resp.headers());
            let body = resp.bytes().await.map_err(Error::io)?;
            return Err(HttpError::new(status, headers, Some(body)).into());
        }
        let response = resp.json::<O>().await.map_err(Error::serde)?;
        Ok(response)
    }
}
{{/Services}}
