{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{CopyrightYear}} Google LLC
{{#BoilerPlate}}
//{{{.}}}
{{/BoilerPlate}}
{{#HasServices}}

use crate::Result;
use std::sync::Arc;
{{/HasServices}}
{{#Services}}

/// An implementation of [crate::traits::{{NameToPascal}}] to make requests with.
///
/// `{{NameToPascal}}` has various configuration parameters, but the defaults
/// are set to work with most applications.
///
/// `{{NameToPascal}}` holds a connection pool internally, it is advised to
/// create one and the reuse it.  You do not need to wrap `{{NameToPascal}}` in
/// an [Rc](std::rc::Rc) or [Arc] to reuse it, because it already uses an `Arc`
/// internally.
///
{{#DocLines}}
{{{.}}}
{{/DocLines}}
#[derive(Clone, Debug)]
pub struct {{NameToPascal}} {
    inner: Arc<dyn crate::traits::dyntraits::{{NameToPascal}}>,
}

impl {{NameToPascal}} {
    /// Creates a new client with the default configuration.
    pub async fn new() -> Result<Self> {
        Self::new_with_config(crate::ConfigBuilder::default()).await
    }

    /// Creates a new client with the specified configuration.
    pub async fn new_with_config(conf: crate::ConfigBuilder) -> Result<Self> {
        let inner = Self::build_inner(conf).await?;
        Ok(Self { inner }) 
    }

    /// Creates a new client from the provided stub.
    ///
    /// The most common case for calling this function is when mocking the
    /// client.
    pub fn from_stub<T>(stub: T) -> Self
    where T: crate::traits::{{NameToPascal}} + 'static {
        Self { inner: Arc::new(stub) }
    }

    async fn build_inner(conf: crate::ConfigBuilder) -> Result<Arc<dyn crate::traits::dyntraits::{{NameToPascal}}>> {
        if conf.tracing_enabled() {
            return Ok(Arc::new(Self::build_with_tracing(conf).await?));
        }
        Ok(Arc::new(Self::build_transport(conf).await?))
    }

    async fn build_transport(conf: crate::ConfigBuilder) -> Result<impl crate::traits::{{NameToPascal}}> {
        crate::transport::{{NameToPascal}}::new(conf).await
    }

    async fn build_with_tracing(conf: crate::ConfigBuilder) -> Result<impl crate::traits::{{NameToPascal}}> {
        Self::build_transport(conf).await.map(crate::tracing::{{NameToPascal}}::new)
    }

    {{#Methods}}
    {{#DocLines}}
    {{{.}}}
    {{/DocLines}}
    pub fn {{NameToSnake}}(&self) -> crate::builders::{{NameToPascal}} {
        crate::builders::{{NameToPascal}}::new(self.inner.clone())
    }

    {{/Methods}}
}
{{/Services}}
