{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{! Deserialize message fields that **do** require transformations. }}
{{#Singular}}
{{! First deal with all the fields that are not part of a oneof }}
{{^IsOneOf}}
{{#Optional}}
struct __With( {{{Codec.FieldType}}} );
impl<'de> serde::de::Deserialize<'de> for __With {
    fn deserialize<D>(deserializer: D) -> std::result::Result<Self, D::Error>
    where
        D: serde::de::Deserializer<'de>,
    {
        serde_with::As::< std::option::Option<{{{Codec.SerdeAs}}}> >::deserialize(deserializer).map(__With)
    }
}
result.{{Codec.FieldName}} = map.next_value::< __With >()?.0;
{{/Optional}}
{{^Optional}}
struct __With( std::option::Option<{{{Codec.PrimitiveFieldType}}}> );
impl<'de> serde::de::Deserialize<'de> for __With {
    fn deserialize<D>(deserializer: D) -> std::result::Result<Self, D::Error>
    where
        D: serde::de::Deserializer<'de>,
    {
        serde_with::As::< std::option::Option<{{{Codec.SerdeAs}}}> >::deserialize(deserializer).map(__With)
    }
}
result.{{Codec.FieldName}} = map.next_value::< __With >()?.0.unwrap_or_default();
{{/Optional}}
{{/IsOneOf}}
{{#IsOneOf}}
struct __With( std::option::Option<{{{Codec.FieldType}}}> );
impl<'de> serde::de::Deserialize<'de> for __With {
    fn deserialize<D>(deserializer: D) -> std::result::Result<Self, D::Error>
    where
        D: serde::de::Deserializer<'de>,
    {
        serde_with::As::< std::option::Option<{{{Codec.SerdeAs}}}> >::deserialize(deserializer).map(__With)
    }
}
if result.{{Group.Codec.FieldName}}.is_some() {
    return Err(A::Error::duplicate_field("multiple values for `{{Group.Codec.FieldName}}`, a oneof with full ID {{ID}}, latest field was {{JSONName}}"))
}
result.{{Group.Codec.FieldName}} = std::option::Option::Some(
    {{Group.Codec.QualifiedName}}::{{Codec.BranchName}}(
        map.next_value::<__With>()?.0.unwrap_or_default()
    ),
);
{{/IsOneOf}}
{{/Singular}}
{{! repeated and map fields are never part of a oneof }}
{{#Repeated}}
struct __With( std::option::Option<{{{Codec.FieldType}}}> );
impl<'de> serde::de::Deserialize<'de> for __With {
    fn deserialize<D>(deserializer: D) -> std::result::Result<Self, D::Error>
    where
        D: serde::de::Deserializer<'de>,
    {
        serde_with::As::< std::option::Option<std::vec::Vec<{{{Codec.SerdeAs}}}>> >::deserialize(deserializer).map(__With)
    }
}
result.{{Codec.FieldName}} = map.next_value::< __With >()?.0.unwrap_or_default();
{{/Repeated}}
{{#Map}}
struct __With( std::option::Option<{{{Codec.FieldType}}}> );
impl<'de> serde::de::Deserialize<'de> for __With {
    fn deserialize<D>(deserializer: D) -> std::result::Result<Self, D::Error>
    where
        D: serde::de::Deserializer<'de>,
    {
        serde_with::As::< std::option::Option<{{{Codec.SerdeAs}}}> >::deserialize(deserializer).map(__With)
    }
}
result.{{Codec.FieldName}} = map.next_value::< __With >()?.0.unwrap_or_default();
{{/Map}}
