{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{! Deserialize message fields that do not require transformations. }}
{{#Singular}}
{{! First deal with all the fields that are not part of a oneof }}
{{^IsOneOf}}
{{^Optional}}
if let Some(value) = map.next_value::<std::option::Option<{{{Codec.FieldType}}}>>()?
    {{#Codec.IsWktValue}}.or(Some(wkt::Value::Null)){{/Codec.IsWktValue}}
    {{#Codec.IsWktNullValue}}.or(Some(wkt::NullValue)){{/Codec.IsWktNullValue}}
{
    result.{{Codec.FieldName}} = value;
}
{{/Optional}}
{{#Optional}}
if let Some(value) = map.next_value::<{{{Codec.FieldType}}}>()?
    {{#Codec.IsWktValue}}.or(Some(wkt::Value::Null)){{/Codec.IsWktValue}}
    {{#Codec.IsWktNullValue}}.or(Some(wkt::NullValue)){{/Codec.IsWktNullValue}}
{
    result.{{Codec.FieldName}} = Some(value);
}
{{/Optional}}
{{/IsOneOf}}
{{#IsOneOf}}
if let Some(value) = map.next_value::<std::option::Option<{{{Codec.FieldType}}}>>()? 
    {{#Codec.IsWktValue}}.or(Some(std::boxed::Box::new(wkt::Value::Null))){{/Codec.IsWktValue}}
    {{#Codec.IsWktNullValue}}.or(Some(wkt::NullValue)){{/Codec.IsWktNullValue}}
{
    if result.{{Group.Codec.FieldName}}.is_some() {
        return std::result::Result::Err(A::Error::duplicate_field(
            "multiple values for {{Group.ID}}, a oneof with full ID {{ID}}, latest field was {{JSONName}}"
        ))
    }
    result.{{Group.Codec.FieldName}} = Some(
        {{Group.Codec.QualifiedName}}::{{Codec.BranchName}}(value),
    );
}
{{/IsOneOf}}
{{/Singular}}
{{! repeated and map fields are never part of a oneof }}
{{#Repeated}}
if let Some(value) = map.next_value::<std::option::Option<{{{Codec.FieldType}}}>>()? {
    result.{{Codec.FieldName}} = value;
}
{{/Repeated}}
{{#Map}}
if let Some(value) = map.next_value::<std::option::Option<{{{Codec.FieldType}}}>>()? {
    result.{{Codec.FieldName}} = value;
}
{{/Map}}
