{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}

{{#Codec.DocLines}}
{{{.}}}
{{/Codec.DocLines}}
#[derive(Clone, Debug, PartialEq, serde::Deserialize, serde::Serialize)]
pub struct {{Codec.Name}}(std::borrow::Cow<'static, str>);

impl {{Codec.Name}} {
    /// Creates a new {{Codec.Name}} instance.
    pub const fn new(v: &'static str) -> Self {
        Self(std::borrow::Cow::Borrowed(v))
    }

    /// Gets the enum value.
    pub fn value(&self) -> &str {
        &self.0
    }
}

/// Useful constants to work with [{{Codec.Name}}]({{Codec.Name}})
pub mod {{Codec.ModuleName}} {
    use super::{{Codec.Name}};
    
    {{#Values}}

    {{#Codec.DocLines}}
    {{{.}}}
    {{/Codec.DocLines}}
    pub const {{Codec.Name}}: {{Codec.EnumType}} = {{Codec.EnumType}}::new("{{Codec.Name}}");
    {{/Values}}
}

impl std::convert::From<std::string::String> for {{Codec.Name}} {
  fn from(value: std::string::String) -> Self {
    Self(std::borrow::Cow::Owned(value))
  }
}

impl std::default::Default for {{Codec.Name}} {
    fn default() -> Self {
        {{#Codec.DefaultValueName}}
        {{Codec.ModuleName}}::{{Codec.DefaultValueName}}
        {{/Codec.DefaultValueName}}
        {{^Codec.DefaultValueName}}
        Self::new("")
        {{/Codec.DefaultValueName}}
    }
}
