{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{CopyrightYear}} Google LLC
{{#BoilerPlate}}
//{{{.}}}
{{/BoilerPlate}}

{{! Google APIs often use angle brackets for <PLACEHOLDERS>, rustdoc does not like those. }}
{{! We use explicit links because it is easier to generate the code with them. }}
#![allow(rustdoc::redundant_explicit_links)]
{{! TODO(#742) - remove this workaround once the bug is fixed }}
#![allow(rustdoc::broken_intra_doc_links)]
{{! We disable the standard prelude to avoid clashes with generated types. }}
#![no_implicit_prelude]
extern crate std;
{{#ExternPackages}}
extern crate {{.}};
{{/ExternPackages}}
{{#Messages}}
{{> message}}
{{/Messages}}
{{#Enums}}
{{> enum}}
{{/Enums}}
