### YamlMime:UniversalReference
items:
  - uid: structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption
    name: "DataPolicyServiceConnectionIdempotencyPolicyOption"
    id: structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption
    parent: ""
    type: struct
    langs:
      - cpp
    syntax:
      contents: |
        // Found in #include <google/cloud/bigquery/datapolicies/v1/data_policy_options.h>
        struct google::cloud::bigquery_datapolicies_v1::DataPolicyServiceConnectionIdempotencyPolicyOption { ... };
      source:
        id: google::cloud::bigquery_datapolicies_v1::DataPolicyServiceConnectionIdempotencyPolicyOption
        path: google/cloud/datapolicies/v1/data_policy_options.h
        startLine: 57
        remote:
          repo: https://github.com/googleapis/google-cloud-cpp/
          branch: main
          path: google/cloud/datapolicies/v1/data_policy_options.h
    summary: |
      Use with [`google::cloud::Options`](xref:classgoogle_1_1cloud_1_1Options) to configure which operations are retried. 
    children:
      - structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption_1aff246b06a61a2f9356884ad087ab536c
  - uid: structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption_1aff246b06a61a2f9356884ad087ab536c
    name: "Type"
    fullName: "google::cloud::bigquery_datapolicies_v1::DataPolicyServiceConnectionIdempotencyPolicyOption::Type"
    id: structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption_1aff246b06a61a2f9356884ad087ab536c
    parent: structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption
    type: typealias
    langs:
      - cpp
    syntax:
      contents: |
        using google::cloud::bigquery_datapolicies_v1::DataPolicyServiceConnectionIdempotencyPolicyOption::Type =
          std::shared_ptr< DataPolicyServiceConnectionIdempotencyPolicy >;
      aliasof: |
        <code>std::shared_ptr&lt; DataPolicyServiceConnectionIdempotencyPolicy &gt;</code>
      source:
        id: Type
        path: google/cloud/datapolicies/v1/data_policy_options.h
        startLine: 58
        remote:
          repo: https://github.com/googleapis/google-cloud-cpp/
          branch: main
          path: google/cloud/datapolicies/v1/data_policy_options.h
references:
  - uid: structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption
    name: google::cloud::bigquery_datapolicies_v1::DataPolicyServiceConnectionIdempotencyPolicyOption
  - uid: structgoogle_1_1cloud_1_1bigquery__datapolicies__v1_1_1DataPolicyServiceConnectionIdempotencyPolicyOption_1aff246b06a61a2f9356884ad087ab536c
    name: google::cloud::bigquery_datapolicies_v1::DataPolicyServiceConnectionIdempotencyPolicyOption::Type
