- uid: {{Uid}}
{{#Name}}
  name: {{Name}}
{{/Name}}
{{#FullName}}
  fullName: {{FullName}}
{{/FullName}}
{{#Parent}}
  parent: {{Parent}}
{{/Parent}}
{{#isExternal}}
  isExternal: true
{{/isExternal}}
{{^isExternal}}
  isExternal: false
{{/isExternal}}
