### YamlMime:UniversalReference
{{#HasItems}}
items:
{{#Items}}
{{> universalReferenceItem.yml}}
{{/Items}}
{{/HasItems}}

{{#HasReferences}}
references:
{{#References}}
  {{> reference.yml}}
{{/References}}
{{/HasReferences}}