{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}

{{#Codec.DocLines}}
{{{.}}}
{{/Codec.DocLines}}
{{#Codec.IsLROGetOperation}}
///
/// This method can be used to get the current status of a long-running
/// operation.
Future<Operation<T, S>> getOperation<T extends ProtoMessage, S extends ProtoMessage>(Operation<T, S> request) async {
  final url = Uri.https(_host, '{{PathInfo.Codec.PathFmt}}');
  {{#Codec.ReturnsValue}}final response = {{/Codec.ReturnsValue}}await _client.{{Codec.RequestMethod}}(url{{#Codec.HasBody}}, body: {{Codec.BodyMessageName}}{{/Codec.HasBody}});
  return Operation.fromJson(response, request.operationHelper);
}
{{/Codec.IsLROGetOperation}}
{{^Codec.IsLROGetOperation}}
{{#OperationInfo}}
///
/// Returns an [Operation] representing the status of the long-running
/// operation.
///
/// When complete, [Operation.done] will be `true`. If successful,
/// [Operation.responseAsMessage] will contain the operation's result.
{{/OperationInfo}}
Future<{{Codec.ResponseType}}{{#OperationInfo}}<{{Codec.ResponseType}}, {{Codec.MetadataType}}>{{/OperationInfo}}> {{Codec.Name}}({{Codec.RequestType}} request) async {
  final url = Uri.https(_host, '{{PathInfo.Codec.PathFmt}}'
    {{#Codec.HasQueryLines}}, {
      {{#Codec.QueryLines}}
        {{{.}}},
      {{/Codec.QueryLines}}
    }
    {{/Codec.HasQueryLines}}
  );
  {{#Codec.ReturnsValue}}final response = {{/Codec.ReturnsValue}}await _client.{{Codec.RequestMethod}}(url{{#Codec.HasBody}}, body: {{Codec.BodyMessageName}}{{/Codec.HasBody}});
  {{#Codec.ReturnsValue}}
    return {{Codec.ResponseType}}.fromJson(response{{#OperationInfo}}, OperationHelper({{Codec.ResponseType}}.fromJson, {{Codec.MetadataType}}.fromJson),{{/OperationInfo}});
  {{/Codec.ReturnsValue}}
}
{{/Codec.IsLROGetOperation}}
