# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[package]
name                 = "gcp-sdk-gax"
version              = "0.0.0"
description          = "Google Cloud SDK for Rust"
edition.workspace    = true
authors.workspace    = true
license.workspace    = true
repository.workspace = true
keywords.workspace   = true
categories.workspace = true

[dependencies]
bytes      = "1.8.0"
http       = "1.1.0"
reqwest    = { version = "0.12.9", optional = true }
serde      = "1.0.214"
serde_json = "1.0.133"
serde_with = "3.11.0"
thiserror  = "2.0.3"
wkt        = { path = "../wkt", package = "gcp-sdk-wkt" }

[dev-dependencies]
serde      = { version = "1.0.214", features = ["serde_derive"] }
tokio      = { version = "1.41.1", features = ["macros"] }
# This is a workaround to integration test features of this crate. Open issue
# https://github.com/rust-lang/cargo/issues/2911.
gax = { path = ".", package = "gcp-sdk-gax", features = ["sdk_client"] }

[features]
sdk_client = ["dep:reqwest"]
