# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[package]
authors.workspace = true
build = "build.rs"
categories.workspace = true
description = "Google Cloud Client Libraries for Rust"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "gcp-sdk-gax"
repository.workspace = true
version = "0.2.0"

[dependencies]
auth = {version = "0.1.1", path = "../auth", package = "gcp-sdk-auth"}
base64 = "0.22.1"
bytes = "1.10.0"
futures = {version = "0.3.31", optional = true}
http = "1.1.0"
pin-project = {version = "1.1.9", optional = true}
rand = "0.9"
reqwest = {version = "0.12.11", optional = true}
rpc = {version = "0.2", path = "../generated/rpc/types", package = "google-cloud-rpc"}
serde = "1.0.216"
serde_json = "1"
serde_with = {version = "3.12.0", default-features = false, features = ["base64", "macros"]}
thiserror = "2.0.11"
tokio = {version = "1.42", features = ["macros", "rt-multi-thread"]}
wkt = {version = "0.1.1", path = "../wkt", package = "google-cloud-wkt"}

[dev-dependencies]
echo-server = {path = "echo-server"}
# This is a workaround to integration test features of this crate. Open issue
# https://github.com/rust-lang/cargo/issues/2911.
axum = "0.8.1"
gax = {path = ".", package = "gcp-sdk-gax", features = ["unstable-sdk-client", "unstable-stream"]}
mockall = "0.13.1"
serde = {version = "1.0.216", features = ["serde_derive"]}
serial_test = "3.2.0"
tempfile = "3.16.0"
test-case = "3.3.1"
tokio = {version = "1.42", features = ["test-util"]}

[build-dependencies]
built = "0.7"

[features]
unstable-sdk-client = ["dep:reqwest"]
unstable-stream = ["dep:futures", "dep:pin-project"]
