{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{Codec.CopyrightYear}} Google LLC
{{#Codec.BoilerPlate}}
//{{{.}}}
{{/Codec.BoilerPlate}}
{{#Codec.Services}}

pub mod {{Codec.ModuleName}} {
    use crate::Result;
    use std::sync::Arc;

    /// Common implementation for [super::super::client::{{Codec.Name}}] request builders.
    #[derive(Clone, Debug)]
    pub(crate) struct RequestBuilder<R: std::default::Default> {
        stub: Arc<dyn super::super::stub::dynamic::{{Codec.Name}}>,
        request: R,
        options: gax::options::RequestOptions,
    }

    impl<R> RequestBuilder<R>
    where R: std::default::Default {
        pub(crate) fn new(stub: Arc<dyn super::super::stub::dynamic::{{Codec.Name}}>) -> Self {
            Self {
                stub,
                request: R::default(),
                options: gax::options::RequestOptions::default(),
            }
        }
    }

    {{#Codec.Methods}}
    /// The request builder for a {{Codec.ServiceNameToPascal}}::{{Codec.Name}} call.
    #[derive(Clone, Debug)]
    pub struct {{Codec.BuilderName}}(RequestBuilder<{{InputType.Codec.QualifiedName}}>);

    impl {{Codec.BuilderName}} {
        pub(crate) fn new(stub: Arc<dyn super::super::stub::dynamic::{{Codec.ServiceNameToPascal}}>) -> Self {
            Self(
                RequestBuilder::new(stub)
            )
        }

        /// Sets the full request, replacing any prior values.
        pub fn with_request<V: Into<{{InputType.Codec.QualifiedName}}>>(mut self, v: V) -> Self {
            self.0.request = v.into();
            self
        }

        /// Sets all the options, replacing any prior values.
        pub fn with_options<V: Into<gax::options::RequestOptions>>(mut self, v: V) -> Self {
            self.0.options = v.into();
            self
        }

        /// Sends the request.
        {{#OperationInfo}}
        ///
        /// # Long running operations
        ///
        /// This starts, but does not poll, a longrunning operation. More information
        /// on [{{Method.Codec.Name}}][super::super::client::{{Method.Codec.ServiceNameToPascal}}::{{Method.Codec.Name}}].
        {{/OperationInfo}}
        pub async fn send(self) -> Result<{{Codec.ReturnType}}> {
            {{!
                In rare cases `self.0.stub.foo` is ambiguous: we are calling
                via `Arc<dyn T>` which implements `T` but also implements other
                traits (e.g. `std::clone::Clone`) making the call ambiguous.
                Using `*self.0.stub` makes the call not-ambiguous.
            }}
            (*self.0.stub).{{Codec.Name}}(self.0.request, self.0.options).await
        }
        {{#Pagination}}

        /// Streams the responses back.
        pub async fn paginator(self) -> gax::paginator::Paginator<{{OutputType.Codec.QualifiedName}}, gax::error::Error> {
            use std::clone::Clone;
            {{#Optional}}
            let token = self.0.request.{{Codec.FieldName}}.clone().unwrap_or_default();
            {{/Optional}}
            {{^Optional}}
            let token = self.0.request.{{Codec.FieldName}}.clone();
            {{/Optional}}
            let execute = move |token: String| {
                let mut builder = self.clone();
                builder.0.request = builder.0.request.set_{{Codec.SetterName}}(token);
                builder.send()
            };
            gax::paginator::Paginator::new(token, execute)
        }
        {{/Pagination}}
        {{#OperationInfo}}

        /// Creates a [Poller][lro::Poller] to work with `{{Method.Codec.Name}}`.
        pub fn poller(
            self
        ) -> impl lro::Poller<{{Codec.ResponseType}}, {{Codec.MetadataType}}>
        {
            type Operation = lro::Operation<{{Codec.ResponseType}}, {{Codec.MetadataType}}>;
            let polling_error_policy = self.0.stub.get_polling_error_policy(&self.0.options);
            let polling_backoff_policy = self.0.stub.get_polling_backoff_policy(&self.0.options);

            let stub = self.0.stub.clone();
            let mut options = self.0.options.clone();
            options.set_retry_policy(gax::retry_policy::NeverRetry);
            let query = move |name| {
                let stub = stub.clone();
                let options = options.clone();
                async {
                    let op = GetOperation::new(stub)
                        .set_name(name)
                        .with_options(options)
                        .send()
                        .await?;
                    Ok(Operation::new(op))
                }
            };

            let start = move || async {
                let op = self.send().await?;
                Ok(Operation::new(op))
            };

            lro::new_poller(polling_error_policy, polling_backoff_policy, start, query)
        }
        {{/OperationInfo}}
        {{#InputType.Codec.SingularFields}}

        /// Sets the value of [{{Codec.FieldName}}][{{Codec.FQMessageName}}::{{Codec.SetterName}}].
        pub fn set_{{Codec.SetterName}}<T: Into<{{{Codec.FieldType}}}>>(mut self, v: T) -> Self {
            self.0.request.{{Codec.FieldName}} = v.into();
            self
        }
        {{/InputType.Codec.SingularFields}}
        {{#InputType.Codec.RepeatedFields}}

        /// Sets the value of [{{Codec.FieldName}}][{{Codec.FQMessageName}}::{{Codec.SetterName}}].
        pub fn set_{{Codec.SetterName}}<T, V>(mut self, v: T) -> Self
        where
            T: std::iter::IntoIterator<Item = V>,
            V: std::convert::Into<{{{Codec.PrimitiveFieldType}}}>
        {
            use std::iter::Iterator;
            self.0.request.{{Codec.FieldName}} = v.into_iter().map(|i| i.into()).collect();
            self
        }
        {{/InputType.Codec.RepeatedFields}}
        {{#InputType.Codec.MapFields}}

        /// Sets the value of [{{Codec.FieldName}}][{{Codec.FQMessageName}}::{{Codec.SetterName}}].
        pub fn set_{{Codec.SetterName}}<T, K, V>(mut self, v: T) -> Self
        where
            T: std::iter::IntoIterator<Item = (K, V)>,
            K: std::convert::Into<{{{Codec.KeyType}}}>,
            V: std::convert::Into<{{{Codec.ValueType}}}>,
        {
            self.0.request.{{Codec.FieldName}} = v.into_iter().map(|(k, v)| (k.into(), v.into())).collect();
            self
        }
        {{/InputType.Codec.MapFields}}
        {{#InputType.OneOfs}}

        /// Sets the value of `{{Codec.FieldName}}`.
        pub fn set_{{Codec.SetterName}}<T: Into<Option<{{{Codec.FieldType}}}>>>(mut self, v: T) ->Self {
            self.0.request.{{Codec.FieldName}} = v.into();
            self
        }
        {{/InputType.OneOfs}}
    }

    #[doc(hidden)]
    impl gax::options::internal::RequestBuilder for {{Codec.BuilderName}} {
        fn request_options(&mut self) -> &mut gax::options::RequestOptions {
            &mut self.0.options
        }
    }

    {{/Codec.Methods}}
}
{{/Codec.Services}}
