{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{Codec.CopyrightYear}} Google LLC
{{#Codec.BoilerPlate}}
//{{{.}}}
{{/Codec.BoilerPlate}}
{{#Codec.HasServices}}
{{! TODO(#742) - remove this workaround once the bug is fixed }}
#![allow(rustdoc::broken_intra_doc_links)]

use crate::Result;
use std::sync::Arc;
{{/Codec.HasServices}}
{{#Codec.Services}}

/// Implements a client for the {{Codec.APITitle}}.
///
/// # Service Description
///
{{#Codec.DocLines}}
{{{.}}}
{{/Codec.DocLines}}
///
/// # Configuration
///
/// `{{Codec.Name}}` has various configuration parameters, the defaults should
/// work with most applications.
///
/// # Pooling and Cloning
///
/// `{{Codec.Name}}` holds a connection pool internally, it is advised to
/// create one and the reuse it.  You do not need to wrap `{{Codec.Name}}` in
/// an [Rc](std::rc::Rc) or [Arc] to reuse it, because it already uses an `Arc`
/// internally.
#[derive(Clone, Debug)]
pub struct {{Codec.Name}} {
    inner: Arc<dyn crate::stubs::dynamic::{{Codec.Name}}>,
}

impl {{Codec.Name}} {
    /// Creates a new client with the default configuration.
    pub async fn new() -> Result<Self> {
        Self::new_with_config(gax::options::ClientConfig::default()).await
    }

    /// Creates a new client with the specified configuration.
    pub async fn new_with_config(conf: gax::options::ClientConfig) -> Result<Self> {
        let inner = Self::build_inner(conf).await?;
        Ok(Self { inner }) 
    }

    /// Creates a new client from the provided stub.
    ///
    /// The most common case for calling this function is when mocking the
    /// client.
    pub fn from_stub<T>(stub: T) -> Self
    where T: crate::stubs::{{Codec.Name}} + 'static {
        Self { inner: Arc::new(stub) }
    }

    async fn build_inner(conf: gax::options::ClientConfig) -> Result<Arc<dyn crate::stubs::dynamic::{{Codec.Name}}>> {
        if conf.tracing_enabled() {
            return Ok(Arc::new(Self::build_with_tracing(conf).await?));
        }
        Ok(Arc::new(Self::build_transport(conf).await?))
    }

    async fn build_transport(conf: gax::options::ClientConfig) -> Result<impl crate::stubs::{{Codec.Name}}> {
        crate::transport::{{Codec.Name}}::new(conf).await
    }

    async fn build_with_tracing(conf: gax::options::ClientConfig) -> Result<impl crate::stubs::{{Codec.Name}}> {
        Self::build_transport(conf).await.map(crate::tracing::{{Codec.Name}}::new)
    }

    {{#Codec.Methods}}
    {{#Codec.DocLines}}
    {{{.}}}
    {{/Codec.DocLines}}
    {{#OperationInfo}}
    ///
    /// # Long running operations
    ///
    /// This method is used to start, and/or poll a [long-running Operation].
    /// The [Working with long-running operations] chapter in the [user guide]
    /// covers these operations in detail.
    ///
    /// [long-running operation]: https://google.aip.dev/151
    /// [user guide]: https://googleapis.github.io/google-cloud-rust/
    /// [working with long-running operations]: https://googleapis.github.io/google-cloud-rust/working_with_long_running_operations.html
    {{/OperationInfo}}
    pub fn {{Codec.Name}}(
        &self,
        {{#Codec.PathParams}}
        {{{Codec.FieldName}}}: impl Into<{{{Codec.PrimitiveFieldType}}}>,
        {{/Codec.PathParams}}
    ) -> crate::builders::{{Codec.ServiceNameToSnake}}::{{Codec.BuilderName}}
    {
        crate::builders::{{Codec.ServiceNameToSnake}}::{{Codec.BuilderName}}::new(self.inner.clone())
        {{#Codec.PathParams}}
            .set_{{Codec.SetterName}} ( {{Codec.FieldName}}.into() )
        {{/Codec.PathParams}}
    }

    {{/Codec.Methods}}
}
{{/Codec.Services}}
