{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{Codec.CopyrightYear}} Google LLC
{{#Codec.BoilerPlate}}
//{{{.}}}
{{/Codec.BoilerPlate}}
{{#Codec.HasServices}}

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
use crate::Result;
#[allow(unused_imports)]
use gax::error::Error;
#[allow(unused_imports)]
use gax::error::binding::BindingError;
#[allow(unused_imports)]
use gaxi::routing_parameter::Segment;
#[allow(unused_imports)]
use gaxi::path_parameter::{PathMismatchBuilder, try_match};

{{/Codec.HasServices}}
{{#Codec.Services}}
/// Implements [{{Codec.Name}}](super::stub::{{Codec.Name}}) using a [gaxi::http::ReqwestClient].
{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
#[derive(Clone)]
pub struct {{Codec.Name}} {
    inner: gaxi::http::ReqwestClient,
}

{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
impl std::fmt::Debug for {{Codec.Name}} {
    fn fmt(&self, f: &mut std::fmt::Formatter<'_>) -> std::result::Result<(), std::fmt::Error> {
        f.debug_struct("{{Codec.Name}}")
            .field("inner", &self.inner)
            .finish()
    }
}

{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
impl {{Codec.Name}} {
    pub async fn new(config: gaxi::options::ClientConfig) -> gax::client_builder::Result<Self> {
        let inner = gaxi::http::ReqwestClient::new(config, crate::DEFAULT_HOST).await?;
        Ok(Self { inner })
    }
}

{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
impl super::stub::{{Codec.Name}} for {{Codec.Name}} {
    {{#Codec.Methods}}
    async fn {{Codec.Name}}(
        &self,
        req: {{InputType.Codec.QualifiedName}},
        options: gax::options::RequestOptions,
    ) -> Result<gax::response::Response<{{Codec.ReturnType}}>> {
        let options = gax::options::internal::set_default_idempotency(
            options,
            {{PathInfo.Codec.IsIdempotent}},
        );
        {{#Codec.AdditionalBindings}}
        let builder = None
        {{#PathInfo.Bindings}}
        .or_else(|| {
            let path = format!(
                "{{Codec.PathFmt}}",
                {{#Codec.Substitutions}}
                try_match({{{FieldAccessor}}}, {{{TemplateAsArray}}})?,
                {{/Codec.Substitutions}}
            );

            let builder = (|| {
                let builder = self
                    .inner
                    .builder(reqwest::Method::{{Verb}}, path);
                {{#Codec.QueryParams}}
                {{{Codec.AddQueryParameter}}}
                {{/Codec.QueryParams}}
                Ok(builder)
            })();
            Some(builder)
        })
        {{/PathInfo.Bindings}}
        .ok_or_else(|| {
            let mut paths = Vec::new();
            {{#PathInfo.Bindings}}
            {
                let builder = PathMismatchBuilder::default();
                {{#Codec.Substitutions}}
                let builder = builder.maybe_add(
                    {{{FieldAccessor}}},
                    {{{TemplateAsArray}}},
                    "{{FieldName}}",
                    "{{{TemplateAsString}}}");
                {{/Codec.Substitutions}}
                paths.push(builder.build());
            }
            {{/PathInfo.Bindings}}
            gax::error::Error::binding(BindingError { paths })
        })??;
        let builder = builder
                {{#Codec.SystemParameters}}
                .query(&[("{{Name}}", "{{Value}}")])
                {{/Codec.SystemParameters}}
                .header("x-goog-api-client", reqwest::header::HeaderValue::from_static(&crate::info::X_GOOG_API_CLIENT_HEADER));
        {{/Codec.AdditionalBindings}}
        {{^Codec.AdditionalBindings}}
        let path =
            {{^PathInfo.Codec.HasPathArgs}}
            {{! Sometimes there are no path args and `format!()` produces warnings }}
            "{{PathInfo.Codec.PathFmt}}".to_string();
            {{/PathInfo.Codec.HasPathArgs}}
            {{#PathInfo.Codec.HasPathArgs}}
            format!("{{PathInfo.Codec.PathFmt}}",
                {{#PathInfo.Codec.PathArgs}}
                    {
                        {{#CheckForEmpty}}
                        let arg = &req{{{Accessor}}};
                        if arg.is_empty() {
                            return Err(gaxi::path_parameter::missing("{{Name}}"));
                        }
                        arg
                        {{/CheckForEmpty}}
                        {{^CheckForEmpty}}
                        &req{{{Accessor}}}
                        {{/CheckForEmpty}}
                    },
                {{/PathInfo.Codec.PathArgs}}
            );
            {{/PathInfo.Codec.HasPathArgs}}
        let builder = self
            .inner
            .builder(reqwest::Method::{{PathInfo.Codec.Method}}, path)
            {{#Codec.SystemParameters}}
            .query(&[("{{Name}}", "{{Value}}")])
            {{/Codec.SystemParameters}}
            .header("x-goog-api-client", reqwest::header::HeaderValue::from_static(&crate::info::X_GOOG_API_CLIENT_HEADER));
        {{#Codec.QueryParams}}
        {{{Codec.AddQueryParameter}}}
        {{/Codec.QueryParams}}
        {{/Codec.AdditionalBindings}}
        self.inner.execute(
            builder,
            {{#PathInfo.Codec.HasBody}}
            Some(req{{Codec.BodyAccessor}}),
            {{/PathInfo.Codec.HasBody}}
            {{^PathInfo.Codec.HasBody}}
            {{#PathInfo.Codec.RequiresContentLength}}
            Some(gaxi::http::NoBody),
            {{/PathInfo.Codec.RequiresContentLength}}
            {{^PathInfo.Codec.RequiresContentLength}}
            None::<gaxi::http::NoBody>,
            {{/PathInfo.Codec.RequiresContentLength}}
            {{/PathInfo.Codec.HasBody}}
            options,
        ).await
        {{#ReturnsEmpty}}
        .map(|r: gax::response::Response<{{OutputType.Codec.QualifiedName}}>| {
            let (parts, _) = r.into_parts();
            gax::response::Response::from_parts(parts, ()) 
        })
        {{/ReturnsEmpty}}
    }

    {{/Codec.Methods}}
    {{#Codec.HasLROs}}
    fn get_polling_error_policy(
        &self,
        options: &gax::options::RequestOptions,
    ) -> std::sync::Arc<dyn gax::polling_error_policy::PollingErrorPolicy> {
        self.inner.get_polling_error_policy(options)
    }

    fn get_polling_backoff_policy(
        &self,
        options: &gax::options::RequestOptions,
    ) -> std::sync::Arc<dyn gax::polling_backoff_policy::PollingBackoffPolicy> {
        self.inner.get_polling_backoff_policy(options)
    }
    {{/Codec.HasLROs}}
}

{{/Codec.Services}}
