{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{Codec.Storage.Codec.CopyrightYear}} Google LLC
{{#Codec.Storage.Codec.BoilerPlate}}
//{{{.}}}
{{/Codec.Storage.Codec.BoilerPlate}}

impl StorageControl {
    /// Returns a builder for [StorageControl].
    ///
    /// ```no_run
    /// # tokio_test::block_on(async {
    /// # use google_cloud_storage::client::StorageControl;
    /// let client = StorageControl::builder().build().await?;
    /// # gax::client_builder::Result::<()>::Ok(()) });
    /// ```
    pub fn builder() -> ClientBuilder {
        gax::client_builder::internal::new_builder(client_builder::Factory)
    }
    {{#Codec.Storage.Services}}
    {{#Methods}}

    {{> ../common/client_method_preamble}}
    pub fn {{Codec.Name}}(&self) -> crate::builder::{{Codec.ServiceNameToSnake}}::{{Codec.BuilderName}}
    {
        self.storage.{{Codec.Name}}()
    }
    {{/Methods}}
    {{/Codec.Storage.Services}}
    {{#Codec.Control.Services}}
    {{#Methods}}

    {{> ../common/client_method_preamble}}
    pub fn {{Codec.Name}}(&self) -> crate::builder::{{Codec.ServiceNameToSnake}}::{{Codec.BuilderName}}
    {
        self.control.{{Codec.Name}}()
    }
    {{/Methods}}
    {{/Codec.Control.Services}}

    /// Creates a new client from the provided stub.
    ///
    /// The most common case for calling this function is in tests mocking the
    /// client's behavior.
    pub fn from_stub<T>(stub: T) -> Self
    where
        T: super::stub::StorageControl + 'static,
    {
        let stub = std::sync::Arc::new(stub);
        Self {
            storage: crate::generated::gapic::client::StorageControl::from_stub(stub.clone()),
            control: crate::generated::gapic_control::client::StorageControl::from_stub(stub),
        }
    }

    pub(crate) async fn new(
        config: gaxi::options::ClientConfig,
    ) -> gax::client_builder::Result<Self> {
        let storage = crate::generated::gapic::client::StorageControl::new(config.clone()).await?;
        let control = crate::generated::gapic_control::client::StorageControl::new(config).await?;
        Ok(Self { storage, control })
    }
}
