{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
let x_goog_request_params = {
    use gaxi::routing_parameter::Segment;
    gaxi::routing_parameter::format(&[
        {{#Routing}}
        None
        {{#Variants}}
        .or_else(|| gaxi::routing_parameter::value(
            Some(&req){{#Codec.FieldAccessors}}{{{.}}}{{/Codec.FieldAccessors}},
            &[ {{#Codec.PrefixSegments}}{{{.}}}, {{/Codec.PrefixSegments}} ],
            &[ {{#Codec.MatchingSegments}}{{{.}}}, {{/Codec.MatchingSegments}} ],
            &[ {{#Codec.SuffixSegments}}{{{.}}}, {{/Codec.SuffixSegments}} ],
        ))
        {{/Variants}}
        .map(|v| ("{{Name}}", v)),
        {{/Routing}}
    ])
};
{{#Codec.RoutingRequired}}
if x_goog_request_params.is_empty() {
    use gax::error::binding::BindingError;
    use gaxi::routing_parameter::Segment;
    use gaxi::path_parameter::PathMismatchBuilder;
    let mut paths = Vec::new();
    {{#RoutingCombos}}
    {
        let builder = PathMismatchBuilder::default();
        {{#Items}}
        {{#Variant}}
        let builder = builder.maybe_add(
            Some(&req){{#Codec.FieldAccessors}}{{{.}}}{{/Codec.FieldAccessors}},
            &[
                {{#Codec.PrefixSegments}}{{{.}}}, {{/Codec.PrefixSegments}}
                {{#Codec.MatchingSegments}}{{{.}}}, {{/Codec.MatchingSegments}}
                {{#Codec.SuffixSegments}}{{{.}}}, {{/Codec.SuffixSegments}}
            ],
            "{{FieldName}}",
            "{{{TemplateAsString}}}");
        {{/Variant}}
        {{/Items}}
        paths.push(builder.build());
    }
    {{/RoutingCombos}}
    return Err(gax::error::Error::binding(BindingError { paths }))
}
{{/Codec.RoutingRequired}}
