{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{Codec.CopyrightYear}} Google LLC
{{#Codec.BoilerPlate}}
//{{{.}}}
{{/Codec.BoilerPlate}}
{{#Codec.HasServices}}

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
use crate::Result;
#[allow(unused_imports)]
use gax::error::Error;
{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
const DEFAULT_HOST: &str = "https://{{Codec.DefaultHost}}";

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
mod info {
    const NAME: &str = env!("CARGO_PKG_NAME");
    const VERSION: &str = env!("CARGO_PKG_VERSION");
    lazy_static::lazy_static! {
        pub(crate) static ref X_GOOG_API_CLIENT_HEADER: String = {
            let ac = gaxi::api_header::XGoogApiClient{
                name:          NAME,
                version:       VERSION,
                library_type:  gaxi::api_header::GAPIC,
            };
            ac.grpc_header_value()
        };
    }
}

{{/Codec.HasServices}}
{{#Codec.Services}}
/// Implements [{{Codec.Name}}](super::stub::{{Codec.Name}}) using a Tonic-generated client.
{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
#[derive(Clone)]
pub struct {{Codec.Name}} {
    inner: gaxi::grpc::Client,
}

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
impl std::fmt::Debug for {{Codec.Name}} {
    fn fmt(&self, f: &mut std::fmt::Formatter<'_>) -> std::result::Result<(), std::fmt::Error> {
        f.debug_struct("{{Codec.Name}}")
            .field("inner", &self.inner)
            .finish()
    }
}

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
impl {{Codec.Name}} {
    pub async fn new(config: gaxi::options::ClientConfig) -> gax::client_builder::Result<Self> {
        let inner = gaxi::grpc::Client::new(config, DEFAULT_HOST).await?;
        Ok(Self { inner })
    }
}

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
impl super::stub::{{Codec.Name}} for {{Codec.Name}} {
    {{#Codec.Methods}}
    async fn {{Codec.Name}}(
        &self,
        req: {{InputType.Codec.QualifiedName}},
        options: gax::options::RequestOptions,
    ) -> Result<gax::response::Response<{{Codec.ReturnType}}>> {
        use gaxi::prost::ToProto;
        let options = gax::options::internal::set_default_idempotency(
            options,
            {{! TODO(#2588) - resolve this in the model }}
            {{#HasAutoPopulatedFields}}
            true,
            {{/HasAutoPopulatedFields}}
            {{^HasAutoPopulatedFields}}
            {{PathInfo.Codec.IsIdempotent}},
            {{/HasAutoPopulatedFields}}
        );
        let extensions = {
            let mut e = tonic::Extensions::new();
            e.insert(tonic::GrpcMethod::new("{{Service.Package}}.{{Service.Name}}", "{{Name}}"));
            e
        };
        let path = http::uri::PathAndQuery::from_static(
            "/{{Service.Package}}.{{Service.Name}}/{{Name}}"
        );
        {{!
        AIP-4222 says:

            For any given RPC, if the explicit routing headers annotation is
            present, the code generators **must** use it and **ignore** any
            routing headers that might be implicitly specified in the
            google.api.http annotation.

        So we only need to generate one of the two code paths.
        }}
        {{#HasRouting}}
        {{> routinginfo}}
        {{/HasRouting}}
        {{^HasRouting}}
        let x_goog_request_params = [
            {{#PathInfo.Codec.UniqueParameters}}
                {{{FieldAccessor}}}.map(|v| format!("{{FieldName}}={v}")),
            {{/PathInfo.Codec.UniqueParameters}}
            {{^PathInfo.Codec.UniqueParameters}}
            ""; 0
            {{/PathInfo.Codec.UniqueParameters}}
        ]
        .into_iter()
        .flatten()
        {{! TODO(#2548) - skip empty strings, and don't lead with a '&' }}
        .fold(String::new(), |b, p| b + "&" + &p);
        {{/HasRouting}}

        {{#ReturnsEmpty}}
        type TR = ();
        {{/ReturnsEmpty}}
        {{^ReturnsEmpty}}
        type TR = crate::{{OutputType.Codec.PackageModuleName}}::{{OutputType.Codec.Name}};
        {{/ReturnsEmpty}}
        self.inner
            .execute(
                extensions,
                path,
                req.to_proto().map_err(Error::deser)?,
                options,
                &info::X_GOOG_API_CLIENT_HEADER,
                &x_goog_request_params,
            )
            .await
            .and_then(gaxi::grpc::to_gax_response::<TR, {{Codec.ReturnType}}>)
    }

    {{/Codec.Methods}}
}

{{/Codec.Services}}
{{#Codec.HasLROs}}
use gaxi::prost::{ConvertError, FromProto, ToProto};
/// Convert from our `wkt::Any` to a `prost_types::Any`
///
/// The encoded types considered for conversion are either metadata or result
/// types for LROs in this service.
pub(crate) fn lro_any_to_prost(
    value: wkt::Any,
) -> std::result::Result<prost_types::Any, ConvertError> {
    match value.type_url().unwrap_or_default() {
        "" => Ok(prost_types::Any::default()),
{{#Codec.Services}}
{{#Codec.LROTypes}}
        "type.googleapis.com/{{Codec.SourceFQN}}" => value
            .to_msg::<{{Codec.QualifiedName}}>()
            .map_err(ConvertError::other)?
            .to_proto()
            .and_then(|prost_msg| {
                prost_types::Any::from_msg(&prost_msg).map_err(ConvertError::other)
            }),
{{/Codec.LROTypes}}
{{/Codec.Services}}
        type_url => Err(ConvertError::UnexpectedTypeUrl(type_url.to_string())),
    }
}

/// Convert from a `prost_types::Any` to our `wkt::Any`
///
/// The encoded types considered for conversion are either metadata or result
/// types for LROs in this service.
pub(crate) fn lro_any_from_prost(
    value: prost_types::Any,
) -> std::result::Result<wkt::Any, ConvertError> {
    match value.type_url.as_str() {
        "" => Ok(wkt::Any::default()),
{{#Codec.Services}}
{{#Codec.LROTypes}}
        "type.googleapis.com/{{Codec.SourceFQN}}" => value
            .to_msg::<crate::{{Codec.PackageModuleName}}::{{Codec.Name}}>()
            .map_err(ConvertError::other)?
            .cnv()
            .and_then(|our_msg| wkt::Any::from_msg(&our_msg).map_err(ConvertError::other)),
{{/Codec.LROTypes}}
{{/Codec.Services}}
        type_url => Err(ConvertError::UnexpectedTypeUrl(type_url.to_string())),
    }
}
{{/Codec.HasLROs}}
