{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{CopyrightYear}} Google LLC
{{#BoilerPlate}}
//{{{.}}}
{{/BoilerPlate}}
{{#Services}}

/// A dyn-compatible, crate-private version of `{{NameToPascal}}`.
#[async_trait::async_trait]
pub trait {{NameToPascal}}: Send + Sync {
    {{#Methods}}
    {{#DocLines}}
    {{{.}}}
    {{/DocLines}}
    async fn {{NameToSnake}}(
        &self,
        req: {{InputTypeName}}
    ) -> crate::Result<{{OutputTypeName}}>;

    {{/Methods}}
}

/// All implementations of [crate::traits::{{NameToPascal}}] also implement [{{NameToPascal}}].
#[async_trait::async_trait]
impl<T: crate::traits::{{NameToPascal}}> {{NameToPascal}} for T {
    {{#Methods}}
    /// Forwards the call to the implementation provided by `T`.
    async fn {{NameToSnake}}(
        &self,
        req: {{InputTypeName}}
    ) -> crate::Result<{{OutputTypeName}}> {
        let response = T::{{NameToSnake}}(self, req).await?;
        Ok(response)
    }

    {{/Methods}}
}

{{/Services}}
