{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{^IsMap}}
{{#Messages}}
{{> message}}
{{/Messages}}
{{#Enums}}
{{> enum}}
{{/Enums}}
{{#OneOfs}}
{{> oneof}}
{{/OneOfs}}
{{^Codec.SkipConversion}}

impl gaxi::prost::ToProto<{{Codec.RelativeName}}> for {{Codec.QualifiedName}} {
    type Output = {{Codec.RelativeName}};
    fn to_proto(self) -> std::result::Result<{{Codec.RelativeName}}, gaxi::prost::ConvertError> {
        Ok(Self::Output {
            {{#Codec.BasicFields}}
            {{#Singular}}
            {{^Optional}}
            {{Codec.FieldName}}: self.{{Codec.FieldName}}.to_proto()?,
            {{/Optional}}
            {{#Optional}}
            {{Codec.FieldName}}: self.{{Codec.FieldName}}.map(|v| v.to_proto()).transpose()?,
            {{/Optional}}
            {{/Singular}}
            {{#Repeated}}
            {{Codec.FieldName}}: self.{{Codec.FieldName}}
                .into_iter()
                .map(|v| v.to_proto())
                .collect::<std::result::Result<std::vec::Vec<_>, _>>()?,
            {{/Repeated}}
            {{#Map}}
            {{Codec.FieldName}}: self.{{Codec.FieldName}}
                .into_iter()
                .map(|(k, v)| {
                    gaxi::prost::pair_transpose(k.to_proto(), v.to_proto())
                }).collect::<std::result::Result<std::collections::HashMap<_, _>, _>>()?,
            {{/Map}}
            {{/Codec.BasicFields}}
            {{#OneOfs}}
            {{Codec.FieldName}}: self.{{Codec.FieldName}}.map(|v| v.to_proto()).transpose()?,
            {{/OneOfs}}
        })
    }
}

impl gaxi::prost::FromProto<{{Codec.QualifiedName}}> for {{Codec.RelativeName}} {
    fn cnv(self) -> std::result::Result<{{Codec.QualifiedName}}, gaxi::prost::ConvertError> {
        Ok(
            {{Codec.QualifiedName}}::new()
                {{#Codec.BasicFields}}
                {{#Singular}}
                {{^Optional}}
                .set_{{Codec.SetterName}}(self.{{Codec.FieldName}})
                {{/Optional}}
                {{#Optional}}
                {{^IsEnum}}
                .set_or_clear_{{Codec.SetterName}}(self.{{Codec.FieldName}}.map(|v| v.cnv()).transpose()?)
                {{/IsEnum}}
                {{#IsEnum}}
                .set_{{Codec.SetterName}}(self.{{Codec.FieldName}}.map(|v| v.into()))
                {{/IsEnum}}
                {{/Optional}}
                {{/Singular}}
                {{#Repeated}}
                {{^IsEnum}}
                .set_{{Codec.SetterName}}(self.{{Codec.FieldName}}.into_iter().map(|v| v.cnv())
                    .collect::<std::result::Result<std::vec::Vec<_>, _>>()?)
                {{/IsEnum}}
                {{#IsEnum}}
                .set_{{Codec.SetterName}}(self.{{Codec.FieldName}}.into_iter().map(|v| v.into()))
                {{/IsEnum}}
                {{/Repeated}}
                {{#Map}}
                {{!
                    Enums cannot appear in the key field.

                    "Note that neither enum nor proto messages are valid for `key_type`."

                    https://protobuf.dev/programming-guides/proto3/#maps
                }}
                {{#Codec.ValueType.IsEnum}}
                .set_{{Codec.SetterName}}(self.{{Codec.FieldName}}.into_iter().map(|(k, v)| (k.cnv(), v.into())))
                {{/Codec.ValueType.IsEnum}}
                {{^Codec.ValueType.IsEnum}}
                .set_{{Codec.SetterName}}(self.{{Codec.FieldName}}.into_iter()
                    .map(|(k, v)| {
                        gaxi::prost::pair_transpose(k.cnv(), v.cnv())
                    }).collect::<std::result::Result<std::collections::HashMap<_, _>, _>>()?)
                {{/Codec.ValueType.IsEnum}}
                {{/Map}}
                {{/Codec.BasicFields}}
                {{#OneOfs}}
                .set_{{Codec.SetterName}}(self.{{Codec.FieldName}}.map(|v| v.cnv()).transpose()?)
                {{/OneOfs}}
        )
    }
}
{{/Codec.SkipConversion}}
{{/IsMap}}
