{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
[package]
{{! TODO(#93) - we should be able to override this name for local development }}
name = "{{Name}}{{^Name}}placeholder{{/Name}}"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.214", features = ["serde_derive"] }
serde_with = "3.11.0"
serde_json = "1.0.132"
time = { version = "0.3.36", features = ["formatting", "parsing"] }
reqwest = { version = "0.12.9", features = ["json"] }
bytes = { version = "1.8.0", features = ["serde"] }
{{! TODO(#93) - this path should be configurable for local development }}
gax_placeholder = { path = "../../../../../types", package="types" }
