{{^IsMap}}

{{#DocLines}}
/// {{{.}}}
{{/DocLines}}
#[derive(Clone, Debug, Default, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
#[non_exhaustive]
pub struct {{Name}} {
    {{#Fields}}

    {{#DocLines}}
    /// {{{.}}}
    {{/DocLines}}
    pub {{NameToSnake}}: {{{FieldType}}},
    {{/Fields}}
}
{{#NestedMessages}}
{{! TODO(codyoss) https://github.com/googleapis/google-cloud-rust/issues/40 }}
{{> model}}
{{/NestedMessages}}
{{#Enums}}
{{> enum}}
{{/Enums}}
{{/IsMap}}